# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CUDA files
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# CMake Files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# CMake Build
/build
*.ilk
*.pdb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.cmake
CMake Overview

# Visual Studio 2019 files
/.vs
Browse.VC.db
ProjectSettings.json
VSWorkspaceState.json
slnx.sqlite